<template name="lineupRankingsElement">
<!--<div class="row herowrapper vertical-align">-->
	<div class="col-xs-12">
		<div class="row lineupFirstRow">
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-8">
						{{#with lineupNameObj}}
							<a href="{{pathFor 'lineupDetails' lineupname=this.namenormalized}}">
								<span class="lineup-name">{{this.name}}</span>
							</a>
						{{/with}}	
					</div>
					<div class="col-xs-2"></div>
				</div>			
			</div>
			<div class="col-xs-3"></div>
		</div>
		<div class="row lineupSecondRow vertical-align">
			<div class="col-xs-9">
				<div class="row lineupHeroes">
					<div class="col-xs-2"></div>
					{{#each heroesAsObjs}}
						{{> lineupHero heroname=this.hero order=this.index}}
					{{/each}}			
					<!--<div class="col-xs-2">
						{{#with heroNameObj '1'}}
			      <a href="{{pathFor 'heroDetails' heroname=this.namenormalized}}">
							<div class="lineupAvatarWrapper">
								<img src="{{srcPathAvatar this.namenormalized}}" class="img-responsive avatarImage" alt="" />
								<img src="/img_frames/heroframe_grey.png" class="img-responsive avatarFrame" alt="" />
							</div>
						</a>
						{{/with}}	
					</div>
					<div class="col-xs-2">
						{{#with heroNameObj '2'}}
			      <a href="{{pathFor 'heroDetails' heroname=this.namenormalized}}">
							<div class="lineupAvatarWrapper">
								<img src="{{srcPathAvatar this.namenormalized}}" class="img-responsive avatarImage" alt="" />
								<img src="/img_frames/heroframe_grey.png" class="img-responsive avatarFrame" alt="" />
							</div>
						</a>
						{{/with}}	
					</div>
					<div class="col-xs-2">
						{{#with heroNameObj '3'}}
			      <a href="{{pathFor 'heroDetails' heroname=this.namenormalized}}">
							<div class="lineupAvatarWrapper">
								<img src="{{srcPathAvatar this.namenormalized}}" class="img-responsive avatarImage" alt="" />
								<img src="/img_frames/heroframe_grey.png" class="img-responsive avatarFrame" alt="" />
							</div>
						</a>
						{{/with}}	
					</div>
					<div class="col-xs-2">
						{{#with heroNameObj '4'}}
			      <a href="{{pathFor 'heroDetails' heroname=this.namenormalized}}">
							<div class="lineupAvatarWrapper">
								<img src="{{srcPathAvatar this.namenormalized}}" class="img-responsive avatarImage" alt="" />
								<img src="/img_frames/heroframe_grey.png" class="img-responsive avatarFrame" alt="" />
							</div>
						</a>
						{{/with}}	
					</div>
					<div class="col-xs-2">
						{{#with heroNameObj '5'}}
			      <a href="{{pathFor 'heroDetails' heroname=this.namenormalized}}">
							<div class="lineupAvatarWrapper">
								<img src="{{srcPathAvatar this.namenormalized}}" class="img-responsive avatarImage" alt="" />
								<img src="/img_frames/heroframe_grey.png" class="img-responsive avatarFrame" alt="" />
							</div>
						</a>
						{{/with}}	
					</div>
-->
				</div>
			</div>


			<div class="col-xs-3">
				<div class="center-horizontal-inline">
				  <a href="#" class="upvote" data-id={{_id}}>
				    <img src="{{votedSrc 'up'}}" alt="upvote-button" />
				  </a>
				</div>
				<div class="score-wrapper">
				  <span class="score-inner">
				    <span class="score">{{scoreHeroRankings this}}</span>
				    <span class="badge score-diff {{scoreDiffStyle}}">{{scoreDiff}}</span>
				  </span>
				</div>
				<div class="center-horizontal-inline">
				  <a href="#" class="downvote" data-id={{_id}}>
				    <img src="{{votedSrc 'down'}}" alt="downvote-button" />
				  </a>
				</div>
			</div>
			{{#if isAdmin}}
				<div class="editHero">
				  <a href="{{pathFor route='lineup.edit' lineupname=lineup.namenormalized}}">
				    <img src="/edit.png" alt="EDIT" />
				  </a>
				</div>
			{{/if}}
		</div>
		<!-- Synergies -->
		<div class="row lineupThirdRow">
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-10">
						<div class="hero-synergies">
						{{#each filteredSynergies lineup.synergies}}
						  <span class="hero-badge-or-synergy">
						    {{#if isNoTeaser this}}
						      <span class="label label-synergy">
						        {{this.name}} ({{this.upvotes}}:{{this.downvotes}})
						      </span>
						    {{else}}
						      {{this}}
						    {{/if}}
						  </span>
						{{/each}}
						</div>
					</div>
					<!--<div class="col-xs-2"></div>-->
				</div>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>
</template>
