### Meteor ###
.meteor/local
.meteor/meteorite

# temporary files (gedit, vim)
*~
# vim specific
*.swp
*.swo

# MongoDB dumps and backups
dump/
backup/backup_*

# Thumbs.db (from Windows OS?)
Thumbs.db

# TODO
todo.txt
