<template name="nav">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'welcome'}}">&nbsp;&nbsp;&nbsp;HoC-Kings&nbsp;&nbsp;&nbsp;</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Home</a></li>-->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Heroes
            <span class="caret"></span></a>
            <ul class="dropdown-menu inverse-dropdown">
              <li><a href="{{pathFor 'heroRankings' category='arena'}}" alt="heroes_arena">Arena</a></li>
              <li><a href="{{pathFor 'heroRankings' category='crusade'}}" alt="heroes_crusade">Crusade</a></li>
              <li><a href="{{pathFor 'heroRankings' category='pvefarming'}}" alt="heroes_pvefarming">PvE & Farming</a></li>
            </ul>
          </li>
          <li><a href="{{pathFor 'lineups'}}" alt="lineups">Lineups</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Guides
            <span class="caret"></span></a>
            <ul class="dropdown-menu inverse-dropdown">
              <li><a href="{{pathFor 'guides_outlandportal'}}" alt="guides_outlandportal">Outland Portal</a></li>
              <li><a href="{{pathFor 'guides_crusade'}}" alt="guides_crusade">Crusade</a></li>
              <li><a href="{{pathFor 'guides_farming'}}" alt="guides_farming">Farming</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            {{> navInfoRegistered}}
          {{else}}
            {{> navInfoUnregistered}}
          {{/if}}

          {{> loginButtons}}
          <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> {{> loginButtons}}</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
</template>


<!--
<template name="nav">
  <nav>
    <a href="{{pathFor 'welcome'}}" alt="welcome">welcome / homepage</a><br />
    <br />
    view a hero: {{pathFor 'hero_view_detail'}}<br />
    <br />
    <a href="{{pathFor 'heroes_ranking' category='arena'}}" alt="ranking_arena">heroes for arena</a><br />
    <a href="{{pathFor 'heroes_ranking' category='crusade'}}" alt="ranking_crusade">heroes for crusade</a><br />
    <a href="{{pathFor 'heroes_ranking' category='pvefarming'}}" alt="ranking_pvefarming">heroes for pvefarming</a><br />
    <br />
    lineups: {{pathFor 'lineups'}}<br />
    <br />
    guides overview: {{pathFor 'guides'}}<br />
    guides for the outland portal: {{pathFor 'guides_outlandportal'}}<br />
    guides for crusade: {{pathFor 'guides_crusade'}}<br />
    guides for pvefarming: {{pathFor 'guides_farming'}}<br />
  </nav>
  <br />
</template>
-->
