<template name="navInfoUnregistered">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span id="nav-badge" class="badge green">+{{currentVotePower}}</span>
    </a>
    <ul class="dropdown-menu inverse-dropdown">
      <li class="disabled default-cursor"><a href="#" class="normal-whitespace" alt="hint">Sign up if you want your votes to have a higher impact!</a></li>
      <li class="nav-divider"></li>
      <li class="disabled default-cursor"><a href="#" alt="votepower">Your Vote Power: <span class="badge">{{currentVotePower}}</span></a></li>
    </ul>
  </li>
</template>
