<template name="navInfoRegistered">
  <li><p class="navbar-text last-seen-typo">last seen: {{lastLoginAt}}</p></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="label label-success label-as-badge">+{{currentVotePower}}</span>
    </a>
    <ul class="dropdown-menu inverse-dropdown">
      <!--<li>last seen: {{lastLoginAt}}</li>-->
      <li>
        Your Votepower:<br />
        {{initialVoteBonus}} + {{loginStreakLength}} = {{currentVotePower}}
      </li>
    </ul>
  </li>
</template>
