.left-input {
  padding-left: 0px !important;
  padding-right: 10px !important;
  margin-bottom: 8px; /* cosmetics */
}

.middle-input {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-bottom: 8px; /* cosmetics */
}

.right-input {
  padding-left: 10px !important;
  padding-right: 0px !important;
  margin-bottom: 8px; /* cosmetics */
}

.inputTypeWrapper > div{
  text-align: center;
  margin-bottom: 8px; /* cosmetics */
}

.inputSkillStatsHeadline {
  padding-top: 8px; /* cosmetics */
  text-align: center;
}

.inputSynergy {
  margin-bottom: 8px; /* cosmetics */
}
