// Styles only for heroDetails

.heroDetails-row {
  margin-top: 1.5em;
  padding: 0px 15px; /* still responsive? */
}

.heroDetails-heading {
  margin: 20px 0;
}

.heroDetails-heading h1 {
  display: inline;
}

.heroDetails-type {
  float: left;
  max-height: 1.9em;
  margin-right: 0.6em;
  margin-top: 0.5em;
}

.heroDetails-divider {
  width: 100%;
  height: 1px;
  margin: 1.5em 0em;
  background-color: #333;
}

.heroDetails-synergies, .heroDetails-rankings {
  margin-top: 20px;
}

.heroDetails-synergy {
  margin-top: 10px;
}

.heroDetails-synergy a {
  display: inline-block;
}

.addSynergyWrapper {
	text-align: center;
}

.heroDetails-synergy .synergyVote {
  /*margin-left: 1em;*/
}

.heroDetails-synergy .synergyDeleteVote {
  margin-left: 0.5em;
}

.heroDetails-synergy img {
  height: 16px;
  width: 16px;
}

.heroDetails-synergyControl {
  padding-left: 0px !important;
  padding-right: 5px !important;
}

/*.addSynergy, .addSynergy img {
  display: block !important;
  margin: 0 auto;
}*/

.heroDetails-rankings {
  text-align: center;
}

.heroDetails-skills {
  /*background-color: #888;*/
}
.heroDetails-skills h4 {
  display: inline;
  margin: 0;
  /*margin-bottom: 10px;
  margin-top: 3px !important;*/
}

.heroDetails-beforeSkills {
  /*background-color: #888;*/
  margin-bottom: 15px;
  padding: 5px 0px;
  border-bottom: 1px solid #333;
  font-weight: bold;
}
.heroDetails-skill {
  /*background-color: #666;*/
  border-radius: 3px;
  padding: 10px 5px;
  margin-bottom: 5px;
}
.skillImageCol {
  padding-left: 0px !important;
  padding-right: 5px !important;
}
.skillImageWrapper {
	/*display: block;*/
	position: relative;
	height: auto;
  max-width: 78px;
	margin: 5px 0px;
	background-image: url(/img_cross/cross_32px_darkred.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.skillImage {
	border-radius: 15%;
	position: absolute;
	top: 0px;
	z-index: 1;
}
.skillFrame {
	position: relative;
	z-index: 2;
}
.skillNameAndDescWrapper {
  margin: 5px 0px;
}
.heroDetails-skill p {
  margin: 5px 0px;
}
.skillAttributeRow {
  margin: 5px 0px;
  text-align: right;
}
#forWrapper {
  margin-bottom: 25px;
}
#forLevelLabel, #forStarLabel {
  /* font-size: 1em; */
  font-style: italic !important;
  font-weight: normal !important;
}
#forLevelInput, #forStarInput {
  margin: 0 10px;
  width: 56px;
}
.statsBasedOnItems {
  font-size: 0.9em;
  font-style: italic;
}

// to make SVG (growthstats-graph) responsive
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
