/* from heroDetails.import.less >>> reorganize! */
.lineup-name {
  font-size: 1.5em;
  color: #aaa;
}
.lineupFirstRow {
	padding-top: 5px;
}

.lineupSecondRow {
	padding: 5px 0px;
}
.lineupThirdRow {
	padding-bottom: 5px;
}

.lineupHeroes .col-xs-2{
	padding: 0px 5px 0px 15px !important;
}

.lineupAvatarWrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: auto;
  max-width: 80px;
	/*margin: 5px 0px;*/
	background-image: url(/img_cross/cross_32px_darkred.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.avatarImage {
	border-radius: 10%;
	position: absolute;
	top: 0px;
	z-index: 1;
}
.avatarFrame {
	position: relative;
	z-index: 3;
}


.lineupHeroNameWrapper {
	display: table;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 2;
	padding: 5px 8px;
}

.lineupHeroName {
	color: #ccc;
	font-size: 0.8em;
	line-height: 1em;
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}
