<template name="adminAddHero">
  <h1>Add Hero</h1>
  <br />

  <form id="addheroform" class="form-horizontal">
    <!-- Name -->
    <div class="form-group">
      <label for="inputName" class="col-xs-2 control-label">Name</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputName" placeholder="Commando">
      </div>
    </div>
    <!-- Surname -->
    <div class="form-group">
      <label for="inputSurname" class="col-xs-2 control-label">Surname</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputSurname" placeholder="Octavia">
      </div>
    </div>
    <!-- Type -->
    <div class="form-group">
      <label for="inputType" class="col-xs-2 control-label">Type</label>
      <div class="col-xs-10">
        <div class="inputTypeWrapper">
          <div class="col-xs-4">
            <label class="radio-inline"><input aria-describedby="helpType" type="radio" name="type">STR</label>
          </div>
          <div class="col-xs-4">
            <label class="radio-inline"><input aria-describedby="helpType" type="radio" name="type">INT</label>
          </div>
          <div class="col-xs-4">
            <label class="radio-inline"><input aria-describedby="helpType" type="radio" name="type">AGI</label>
          </div>
        </div>
        <span id="helpType" class="help-block">Explanation: The hero's main stat which is determined by a icon (not the highest Growth-Stat!)</span>
      </div>
    </div>
    <!-- Primary Base-Stats -->
    <div class="form-group">
      <label for="inputBasestatsSTR" class="col-xs-2 control-label">Primary Base-Stats</label>
      <div class="col-xs-10">
        <div class="col-xs-4 left-input">
          <div class="input-group">
            <span class="input-group-addon">STR</span>
            <input type="number" class="form-control" id="inputBasestatsSTR" aria-describedby="helpBasePrimaryStats" placeholder="at Lvl 1">
          </div>
        </div>
        <div class="col-xs-4 middle-input">
          <div class="input-group">
            <span class="input-group-addon">INT</span>
            <input type="number" class="form-control" id="inputBasestatsINT" aria-describedby="helpBasePrimaryStats" placeholder="at Lvl 1">
          </div>
        </div>
        <div class="col-xs-4 right-input">
          <div class="input-group">
            <span class="input-group-addon">AGI</span>
            <input type="number" class="form-control" id="inputBasestatsAGI" aria-describedby="helpBasePrimaryStats" placeholder="at Lvl 1">
          </div>
        </div>
        <span id="helpBasePrimaryStats" class="help-block">Explanation: Please fill in the Primary Base-Stats (STR, INT, AGI) for Hero-Level 1 and Star 1</span>
      </div>
    </div>
    <!-- Secondary Base-Stats -->
    <div class="form-group">
      <label for="inputSecondaryStatsHP" class="col-xs-2 control-label">Secondary Base-Stats</label>
      <div class="col-xs-10">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="inputSecondaryStatHP" class="col-xs-4 control-label">HP:</label>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputSecondaryStatHP" aria-describedby="helpBaseSecondaryStats" placeholder="e.g. 167">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSecondaryStatArmor" class="col-xs-4 control-label">Armor:</label>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputSecondaryStatArmor" aria-describedby="helpBaseSecondaryStats" placeholder="e.g. 1.25">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSecondaryStatMagicRes" class="col-xs-4 control-label">Magic Resistance:</label>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputSecondaryStatMagicRes" aria-describedby="helpBaseSecondaryStats" placeholder="e.g. 0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSecondaryStatAttackPower" class="col-xs-4 control-label">Attack Power:</label>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputSecondaryStatAttackPower" aria-describedby="helpBaseSecondaryStats" placeholder="e.g. 16">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSecondaryStatMagicPower" class="col-xs-4 control-label">Magic Power:</label>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputSecondaryStatMagicPower" aria-describedby="helpBaseSecondaryStats" placeholder="e.g. 0">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSecondaryStatPhysCrit" class="col-xs-4 control-label">Crit (Physical):</label>
            <div class="col-xs-8">
              <input type="number" class="form-control" id="inputSecondaryStatPhysCrit" aria-describedby="helpBaseSecondaryStats" placeholder="e.g. 0">
            </div>
          </div>
          <div>
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <span id="helpBaseSecondaryStats" class="help-block">Explanation: Please fill in the Secondary Base-Stats (Hero-Level 1, Star 1). Usually the base Magic Resistance, Magic Power and Crit are 0.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Growth-Stats -->
    <div class="form-group">
      <label for="inputGrowthstatsSTR" class="col-xs-2 control-label">Growth-Stats</label>
      <div class="col-xs-10">
        <div class="col-xs-4 left-input">
          <div class="input-group">
            <span class="input-group-addon">STR</span>
            <input type="number" class="form-control" id="inputGrowthstatsSTR" aria-describedby="helpGrowthstats" placeholder="at Star 1">
          </div>
        </div>
        <div class="col-xs-4 middle-input">
          <div class="input-group">
            <span class="input-group-addon">INT</span>
            <input type="number" class="form-control" id="inputGrowthstatsINT" aria-describedby="helpGrowthstats" placeholder="at Star 1">
          </div>
        </div>
        <div class="col-xs-4 right-input">
          <div class="input-group">
            <span class="input-group-addon">AGI</span>
            <input type="number" class="form-control" id="inputGrowthstatsAGI" aria-describedby="helpGrowthstats" placeholder="at Star 1">
          </div>
        </div>
        <span id="helpGrowthstats" class="help-block">Explanation: Please fill in the Growth-Stats for Evolution-Level 1 (=Star 1)</span>
      </div>
    </div>
    <!-- Lnieup-Order -->
    <div class="form-group">
      <label for="inputOrder" class="col-xs-2 control-label">Lineup-Order</label>
      <div class="col-xs-10">
        <input type="number" class="form-control" id="inputOrder" placeholder="23" aria-describedby="helpOrder">
        <span id="helpOrder" class="help-block">Explanation: Each hero has a ordering number which determines if it's a front, central or back-line hero. Example: Savage One = 1</span>
      </div>
    </div>
    <!-- Badges -->
    <div class="form-group">
      <label for="inputBadges" class="col-xs-2 control-label">Badges</label>
      <div class="col-xs-10">
        <textarea class="form-control" id="inputBadges" rows="3" aria-describedby="helpBadges" placeholder="Separate with comma as in the examples below"></textarea>
        <span id="helpBadges" class="help-block">Examples: Swordmanship, Pilgrims, Naga Race, Archery, Axe Gang, The Originals, Troll Race</span>
      </div>
    </div>
    <!-- Attributes -->
    <div class="form-group">
      <label for="inputAttributes" class="col-xs-2 control-label">Attributes</label>
      <div class="col-xs-10">
        <textarea class="form-control" id="inputAttributes" rows="3" aria-describedby="helpAttributes" placeholder="Separate with comma as in the examples below"></textarea>
        <span id="helpAttributes" class="help-block">Examples: AoE, hard CC, DoT, Flying, Burst, Heal/Sustain, Mirror Images, Aura, ...</span>
      </div>
    </div>
    <!-- SKILL 1 -->
    <div class="form-group">
      <label class="col-xs-2 control-label" style={{skillColor 1}}>Skill 1</label>
      <div id="inputSkill1" class="col-xs-10">
        <div class="form-group">
          <label for="inputSkillName" class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillName" placeholder="Meteor Shower">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillDesc" class="col-xs-2 control-label">Description</label>
          <div class="col-xs-10">
            <textarea class="form-control" id="inputSkillDesc" rows="3" placeholder="e.g. Octavia summons a meteor shower to crush her foes nearby and deal magic damage."></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillType" class="col-xs-2 control-label">Type</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillType" placeholder="e.g. Fire, Frost, Lightning">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Skill-Stats</label>
          <div class="col-xs-10">
            <div class="inputSkillStatsContainer">
              <div class="inputSkillStatsHeadline">
                <span class="col-xs-4 left-input">Name</span>
                <span class="col-xs-4 middle-input">Lvl 1</span>
                <span class="col-xs-4 right-input">per Lvl</span>
              </div>
              <div class="inputSkillStatsRow">
                <div class="col-xs-4 left-input">
                  <input type="text" class="form-control statsName" placeholder="e.g. Damage, Hitzone">
                </div>
                <div class="col-xs-4 middle-input">
                  <input type="text" class="form-control statsLvl1" placeholder="e.g. 40">
                </div>
                <div class="col-xs-4 right-input">
                  <input type="text" class="form-control statsPerLvl" placeholder="e.g. 12, Increase">
                </div>
              </div>
            </div>
            <input type="button" data-id="1" value="Add Attribute" class="addButton btn btn-default"/>
            <input type="button" data-id="1" value="Remove Attribute" class="removeButton btn btn-default"/>
          </div>
        </div>
      </div>
    </div>
    <!-- SKILL 2 -->
    <div class="form-group">
      <label class="col-xs-2 control-label" style={{skillColor 2}}>Skill 2</label>
      <div id="inputSkill2" class="col-xs-10">
        <div class="form-group">
          <label for="inputSkillName" class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillName" placeholder="Meteor Shower">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillDesc" class="col-xs-2 control-label">Description</label>
          <div class="col-xs-10">
            <textarea class="form-control" id="inputSkillDesc" rows="3" placeholder="e.g. Octavia summons a meteor shower to crush her foes nearby and deal magic damage."></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillType" class="col-xs-2 control-label">Type</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillType" placeholder="e.g. Fire, Frost, Lightning">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Skill-Stats</label>
          <div class="col-xs-10">
            <div class="inputSkillStatsContainer">
              <div class="inputSkillStatsHeadline">
                <span class="col-xs-4 left-input">Name</span>
                <span class="col-xs-4 middle-input">Lvl 1</span>
                <span class="col-xs-4 right-input">per Lvl</span>
              </div>
              <div class="inputSkillStatsRow">
                <div class="col-xs-4 left-input">
                  <input type="text" class="form-control statsName" placeholder="e.g. Damage, Hitzone">
                </div>
                <div class="col-xs-4 middle-input">
                  <input type="text" class="form-control statsLvl1" placeholder="e.g. 40">
                </div>
                <div class="col-xs-4 right-input">
                  <input type="text" class="form-control statsPerLvl" placeholder="e.g. 12, Increase">
                </div>
              </div>
            </div>
            <input type="button" data-id="2" value="Add Attribute" class="addButton btn btn-default"/>
            <input type="button" data-id="2" value="Remove Attribute" class="removeButton btn btn-default"/>
          </div>
        </div>
      </div>
    </div>
    <!-- SKILL 3 -->
    <div class="form-group">
      <label class="col-xs-2 control-label" style={{skillColor 3}}>Skill 3</label>
      <div id="inputSkill3" class="col-xs-10">
        <div class="form-group">
          <label for="inputSkillName" class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillName" placeholder="Meteor Shower">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillDesc" class="col-xs-2 control-label">Description</label>
          <div class="col-xs-10">
            <textarea class="form-control" id="inputSkillDesc" rows="3" placeholder="e.g. Octavia summons a meteor shower to crush her foes nearby and deal magic damage."></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillType" class="col-xs-2 control-label">Type</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillType" placeholder="e.g. Fire, Frost, Lightning">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Skill-Stats</label>
          <div class="col-xs-10">
            <div class="inputSkillStatsContainer">
              <div class="inputSkillStatsHeadline">
                <span class="col-xs-4 left-input">Name</span>
                <span class="col-xs-4 middle-input">Lvl 1</span>
                <span class="col-xs-4 right-input">per Lvl</span>
              </div>
              <div class="inputSkillStatsRow">
                <div class="col-xs-4 left-input">
                  <input type="text" class="form-control statsName" placeholder="e.g. Damage, Hitzone">
                </div>
                <div class="col-xs-4 middle-input">
                  <input type="text" class="form-control statsLvl1" placeholder="e.g. 40">
                </div>
                <div class="col-xs-4 right-input">
                  <input type="text" class="form-control statsPerLvl" placeholder="e.g. 12, Increase">
                </div>
              </div>
            </div>
            <input type="button" data-id="3" value="Add Attribute" class="addButton btn btn-default"/>
            <input type="button" data-id="3" value="Remove Attribute" class="removeButton btn btn-default"/>
          </div>
        </div>
      </div>
    </div>
    <!-- SKILL 4 -->
    <div class="form-group">
      <label class="col-xs-2 control-label" style={{skillColor 4}}>Skill 4</label>
      <div id="inputSkill4" class="col-xs-10">
        <div class="form-group">
          <label for="inputSkillName" class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillName" placeholder="Meteor Shower">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillDesc" class="col-xs-2 control-label">Description</label>
          <div class="col-xs-10">
            <textarea class="form-control" id="inputSkillDesc" rows="3" placeholder="e.g. Octavia summons a meteor shower to crush her foes nearby and deal magic damage."></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillType" class="col-xs-2 control-label">Type</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillType" placeholder="e.g. Fire, Frost, Lightning">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Skill-Stats</label>
          <div class="col-xs-10">
            <div class="inputSkillStatsContainer">
              <div class="inputSkillStatsHeadline">
                <span class="col-xs-4 left-input">Name</span>
                <span class="col-xs-4 middle-input">Lvl 1</span>
                <span class="col-xs-4 right-input">per Lvl</span>
              </div>
              <div class="inputSkillStatsRow">
                <div class="col-xs-4 left-input">
                  <input type="text" class="form-control statsName" placeholder="e.g. Damage, Hitzone">
                </div>
                <div class="col-xs-4 middle-input">
                  <input type="text" class="form-control statsLvl1" placeholder="e.g. 40">
                </div>
                <div class="col-xs-4 right-input">
                  <input type="text" class="form-control statsPerLvl" placeholder="e.g. 12, Increase">
                </div>
              </div>
            </div>
            <input type="button" data-id="4" value="Add Attribute" class="addButton btn btn-default"/>
            <input type="button" data-id="4" value="Remove Attribute" class="removeButton btn btn-default"/>
          </div>
        </div>
      </div>
    </div>
    <!-- SKILL 5 -->
    <div class="form-group">
      <label class="col-xs-2 control-label" style={{skillColor 5}}>Skill 5</label>
      <div id="inputSkill5" class="col-xs-10">
        <div class="form-group">
          <label for="inputSkillName" class="col-xs-2 control-label">Name</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillName" placeholder="Meteor Shower">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillDesc" class="col-xs-2 control-label">Description</label>
          <div class="col-xs-10">
            <textarea class="form-control" id="inputSkillDesc" rows="3" placeholder="e.g. Octavia summons a meteor shower to crush her foes nearby and deal magic damage."></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkillType" class="col-xs-2 control-label">Type</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="inputSkillType" placeholder="e.g. Fire, Frost, Lightning">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label">Skill-Stats</label>
          <div class="col-xs-10">
            <div class="inputSkillStatsContainer">
              <div class="inputSkillStatsHeadline">
                <span class="col-xs-4 left-input">Name</span>
                <span class="col-xs-4 middle-input">Lvl 1</span>
                <span class="col-xs-4 right-input">per Lvl</span>
              </div>
              <div class="inputSkillStatsRow">
                <div class="col-xs-4 left-input">
                  <input type="text" class="form-control statsName" placeholder="e.g. Damage, Hitzone">
                </div>
                <div class="col-xs-4 middle-input">
                  <input type="text" class="form-control statsLvl1" placeholder="e.g. 40">
                </div>
                <div class="col-xs-4 right-input">
                  <input type="text" class="form-control statsPerLvl" placeholder="e.g. 12, Increase">
                </div>
              </div>
            </div>
            <input type="button" data-id="5" value="Add Attribute" class="addButton btn btn-default"/>
            <input type="button" data-id="5" value="Remove Attribute" class="removeButton btn btn-default"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Synergies -->
    <div class="form-group">
      <label class="col-xs-2 control-label">Synergies</label>
      <div class="col-xs-10">
        <div id="inputSynergies">
          <textarea class="form-control inputSynergy" rows="2" aria-describedby="helpAttributes" placeholder="See examples below. Please keep it as short as possible."></textarea>
        </div>
        <input type="button" value="Add Synergy" class="addSynergyButton btn btn-default"/>
        <input type="button" value="Remove Synergy" class="removeSynergyButton btn btn-default"/>
        <span id="helpSynergies" class="help-block">Examples: Good with other mages, Weak against Arcane Sapper, Excellent VS Guild-Raid-Endbosses</span>
      </div>
    </div>


  </form>
</template>
