// Styles both heroRankings and heroDetails share

.hero-avatar img {
  border-radius: 3px;
}

.hero-type {
  float: left;
  max-height: 1.9em;
  margin-right: 0.6em;
  margin-top: 0.4em;
}

.hero-surname {
  color: #777;
}

.hero-name {
  font-size: 2em;
  color: #aaa;
}

.hero-badges {
  display: inline-block;
}

.hero-badge-or-synergy {
  display: inline-block;
  float: left;
  margin: 0 5px 5px 0;
}
