// reusable component styling here

html, body {
    height: 100%;
}

a, a:hover {
  color: #333;
}

a:visited {
  color: #555;
}

#push, #footer {
  height: 100px;
}

#footer {
  background-color: #222;
  color: #9d9d9d;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

#wrap {
  height: auto !important;
  margin: 0 auto -100px;
  min-height: 100%;
}

#main, #sidebar {
  margin-bottom: 25px;
  padding-bottom: 25px;
  background-color: #ddd;
}

.label-as-badge {
  border-radius: 1em;
  font-size: 1.1em;
}

.label-p {
  border-radius: 0.25em;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: #ffffff;
  display: inline-block;
  font-size: 75%;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.2em 0.6em 0.3em;
  text-align: left;
  vertical-align: baseline;
}

.badge, .label-as-badge {
  font-family: monospace;
}

.requiredField {
  color: #B4211D;
}

.green {
  background-color: #339000;
}

.red {
  background-color: #B4211D;
}

.gone {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
