// reusable component styling here

html, body {
    height: 100%;
    background-color: #111120;
    color: #ccc;
}

a, a:hover {
  color: #ccc;
}

a:visited {
  color: #555;
}

#push, #footer {
  height: 100px;
}

#footer {
  background-color: #222;
  color: #9d9d9d;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

#wrap {
  height: auto !important;
  margin: 0 auto -100px;
  min-height: 100%;
}

#main, #sidebar {
  margin-bottom: 25px;
  padding-bottom: 25px;
  background-color: #181818;
}

.label-as-badge {
  border-radius: 1em;
  font-size: 1.1em;
}

.label-p {
  border-radius: 0.25em;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: #ffffff;
  display: inline-block;
  font-size: 75%;
  font-weight: bold;
  line-height: 1.5;
  padding: 0.2em 0.6em 0.3em;
  text-align: left;
  vertical-align: baseline;
}

.badge, .label-as-badge {
  font-family: monospace;
}

.requiredField {
  color: #B4211D;
}

.green {
  background-color: #339000;
}

.red {
  background-color: #B4211D;
}

.gone {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


@colorSTR: #c92317;
@colorINT: #2a65c5;
@colorAGI: #35ad0f;

@colorSTRdark: darken(@colorSTR, 35%);
@colorINTdark: darken(@colorINT, 35%);
@colorAGIdark: darken(@colorAGI, 28%);

@colorSTRnormal: darken(@colorSTR, 15%);
@colorINTnormal: darken(@colorINT, 15%);
@colorAGInormal: darken(@colorAGI, 12%);

.inputSTR {
  color: @colorSTRnormal;
}
.inputINT{
  color: @colorINTnormal;
}
.inputAGI {
  color: @colorAGInormal;
}


.inputBgSTR {
  background-color: @colorSTRdark;
}
.inputBgINT{
  background-color: @colorINTdark;
}
.inputBgAGI {
  background-color: @colorAGIdark;
}


// overwritten in BOOTSTRAP

// placeholder
@input-color-placeholder: #555;

.input-group-addon {
  /*background-color: #555;*/
  color: white;
  border: 1px solid #444;
  border-radius: 4px;
}

// customized
//@btn-default-color:              #ddd;
//@btn-default-bg:                 #222;
//@btn-default-border:             #444;
//@brand-primary:   #ddd;


.btn {
  color: #ddd;
  background-color: #222;
  border-color: #444;
}
.btn:hover, .btn:active, .btn:visited, .btn:link, .btn:focus {
  color: #ddd;
  background-color: #282828;
  border-color: #444;
}

@submit-green: #339000;
.btn-submit {
  background-color: darken(@submit-green, 15%) !important;
}
.btn-submit:hover, .btn-submit:active, .btn-submit:visited, .btn-submit:link, .btn-submit:focus {
  background-color: darken(@submit-green, 10%) !important;
}
