<template name="heroAdd">
  <form id="addheroform">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/><br />
    <label for="surname">Surname:</label>
    <input type="text" name="surname" id="surname"/><br />

    <label for="growthstats-str">Growth-Stats Strength:</label>
    <input type="text" name="growthstatsstr" id="growthstats-str"/><br />
    <label for="growthstats-agi">Growth-Stats Agility:</label>
    <input type="text" name="growthstatsagi" id="growthstats-agi"/><br />
    <label for="growthstats-int">Growth-Stats Intelligence:</label>
    <input type="text" name="growthstatsint" id="growthstats-int"/><br />

    <label for="badge1">Badge 1:</label>
    <input type="text" name="badge1" id="badge1"/><br />

    <label for="lineuporder">Lineup Order:</label>
    <input type="text" name="lineuporder" id="lineuporder"/><br />

    <label for="skill1-name">Skill 1 - Name:</label>
    <input type="text" name="skill1name" id="skill1-name"/><br />
    <label for="skill1-desc">Skill 1 - Description:</label>
    <input type="text" name="skill1desc" id="skill1-desc"/><br />
    <label for="skill1-initialdmg1">Skill 1 - Inital Damage:</label>
    <input type="text" name="skill1initialdmg1" id="skill1-initialdmg1"/><br />
    <label for="skill1-perlvlgrowth1">Skill 1 - per Level Growth:</label>
    <input type="text" name="skill1perlvlgrowth1" id="skill1-perlvlgrowth1"/><br />

    <label for="synergy1">Synergy 1:</label>
    <input type="text" name="synergy1" id="synergy1"/><br />

    <input type="submit" name="Submit" />
  </form>
</template>
