<template name="hero">
  <div class="col-xs-2 heroavatar">
    <img src={{path_to_avatar}} class="img-responsive" alt="pic" />
  </div>
  <div class="col-xs-7 herooverview">
    <!-- TEST ENTRY <br /> -->
    <!--
    CreatedAt: {{createdAt}}<br />
    CreatedFrom: {{createdFrom}}<br />
    UpdatedAt: {{updatedAt}}<br />
    UpdatedFrom: {{updatedFrom}}<br />
    -->
    Name: {{hero.name}}<br />
    <!--
    Vorname: {{hero.surname}}<br />
    Growthstats / AGI: {{hero.growthstats.agi}}<br />
    Growthstats / INT: {{hero.growthstats.int}}<br />
    Growthstats / STR: {{hero.growthstats.str}}<br />
    -->
    Type: {{hero.type}}<br />
    Badges: {{#each hero.badges}}
              {{this}},
            {{/each}}<br />
    Lineup-Order: {{hero.lineuporder}}<br />
    <!--
    Skills: {{#each hero.skills}}
              Skill / Name: {{this.name}}<br />
              Skill / Description: {{this.desc}}<br />
              Skill / Initial Damage: {{this.lvl1.damage}}<br />
              Skill / Damage per Lvl: {{this.perlvl.damage}}<br />
              ///////<br />
            {{/each}}
    -->
    Synergy: {{#each hero.synergy}}
               {{this.name}}, Ups: {{this.upvotes}}, Downs: {{this.downvotes}}
             {{/each}}<br />
  </div>
  <div class="col-xs-3">
    <div class="center-horizontal-inline">
      <a href="#" class="upvote" data-id={{_id}}>
        <img src="{{votedSrc 'up'}}" alt="upvote-button" />
      </a>
    </div>
    <div class="score-wrapper">
      <span class="score-inner">
        <span class="score">{{score}}</span>
        <span class="badge score-diff {{scoreDiffStyle}}">{{scoreDiff}}</span>
      </span>
    </div>
    <div class="center-horizontal-inline">
      <a href="#" class="downvote" data-id={{_id}}>
        <img src="{{votedSrc 'down'}}" alt="downvote-button" />
      </a>
    </div>
  </div>
</template>
