<template name="heroRankingsElement">
  <div class="col-xs-2 hero-avatar">
    <img src={{srcPathAvatar this}} class="img-responsive" alt="pic" />
  </div>
  <div class="col-xs-7 herooverview">
    <div class="heroRankings-heading">
      <img src="{{srcPathType this}}" class="hero-type" alt="herotype" />
      <a href="{{pathFor 'heroDetails' heroname=this._id}}">
        <span class="hero-name">{{hero.name}}</span>
      </a>
      <span><sub>{{hero.lineuporder}}</sub></span>
    </div>
    <!-- description - should be stored in hero-collection too! -->
    <p>
      <span class="hero-surname">{{hero.surname}}:</span>
      Middle line Mage, who can deal massive area damage with his two heads.
    </p>
    <div class="hero-badges">
      {{#each hero.badges}}
        <span class="hero-badge">
          <span class="label label-primary">{{this}}</span>
        </span>
      {{/each}}
      {{#each hero.attributes}}
        <span class="hero-badge-or-synergy">
          <span class="label label-info">{{this}}</span>
        </span>
      {{/each}}
    </div><br />
    <div class="hero-divider"></div>
    <div class="hero-synergies">
      {{#each hero.synergy}}
        <span class="hero-badge-or-synergy">
          <span class="label label-success">
            {{this.name}} ({{this.upvotes}}:{{this.downvotes}})
          </span>
        </span>
      {{/each}}
    </div><br />
  </div>
  <div class="col-xs-3">
    <div class="center-horizontal-inline">
      <a href="#" class="upvote" data-id={{_id}}>
        <img src="{{votedSrc 'up'}}" alt="upvote-button" />
      </a>
    </div>
    <div class="score-wrapper">
      <span class="score-inner">
        <span class="score">{{scoreHeroRankings this}}</span>
        <span class="badge score-diff {{scoreDiffStyle}}">{{scoreDiff}}</span>
      </span>
    </div>
    <div class="center-horizontal-inline">
      <a href="#" class="downvote" data-id={{_id}}>
        <img src="{{votedSrc 'down'}}" alt="downvote-button" />
      </a>
    </div>
  </div>
</template>
